.leftMenu {
  margin-left: auto;
}

.searchNavbar {
  background: white;

  input {
    flex: 1;
  }
}

.closeIcon {
  opacity: .5;
}

.searchIcon {
  color: white !important;
}

.menuIcon > button {
  color: white !important;
}

.recipe {
  margin-bottom: 30px;
}

.recipeInfo {
  display: flex;
  justify-content: space-between;
}

.recipeInfo div:last-child {
  padding-right: 8px;
}

.addButton {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.iconFavorite {
  color: #ff0000 !important;
}
